
body {
  background-color: #FFFFFF;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 10px 0 0 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

div.header {
  background: lightblue;
  color: white;
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 2em;
}

div.main {
  position: relative;
  width: 100%;
  height: 90%;
}

img.logo {
  height: 95%;
}

div.content {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 80%;
  padding: 0;
  text-align: center;
}

div#takeReading {
  display: inline-block;
  background-color: blue;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

div#takeReading:hover {
  background-color: lightblue;
  color: black;
}

#test .arc2 {
  stroke-weight:0.1;
  fill: #3660b0;
}

#div1, #div2, #div3, #div4 {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  float: left;
}

#div2 .arc {
  stroke-weight: 0.1;
  fill: #40ff00;
}

#div2 .arc2 {
  stroke-weight: 0.1;
  fill: #b00d08;
}

#div3 .arc {
  stroke-weight: 0.1;
  fill: #1d871b;
}

.selectedRadial {
  border-radius: 3px;
  background: #f4f4f4;
  color: #000;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  border: 1px solid rgba(200,200,200,0.85);
}

.radial {
  border-radius: 3px;
  background: #FFFFFF;
  color: #000;
}

div#chart {
  display: inline-block;
  margin: 0 auto;
}
